<%for (chunk of products){ %>
    <div class="row">
        <%for (product of chunk){%>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="<%=product.imagePath%>" alt="..." class="img-responsive product-image" width="280px" height="355px">
                    <div class="caption">
                        <h3><%=product.title%></h3>
                        <p class="description"><%=product.description%></p>
                        <div class="clearfix">
                            <div class="price pull-left">$<%=product.price%></div>
                            <a href="/add-to-cart/?id=<%=product._id%>" class="btn btn-success pull-right" role="button">Add to Shopping Cart</a>
                        </div>
                    </div>
                </div>
            </div>
        <%}%>
    </div>
<%}%>